.issues {
  padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.issues-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px; 
}
